<!--SIDE BAR -->
<side-bar></side-bar>

<div class="page-container">
  <navigation-bar></navigation-bar>
  <div class="main-content">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!--<div id="right-panel" class="right-panel">-->

<!--&lt;!&ndash;NAVIGATION BAR&ndash;&gt;-->
<!--<navigation-bar></navigation-bar>-->

<!--<div style="background-color: #9fcdff">-->
<!--&lt;!&ndash;CONTENT&ndash;&gt;-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->

<!--</div>-->

