<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a>
      <img src="../../../assets/images/icon/logo.png" alt="Cool Admin"/>
    </a>
  </div>
  <div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar__list">
        <li class="has-sub">
          <a routerLink={{routerLink.dashboard.link}}>
            <i class="fas fa-tachometer-alt"></i>{{'DASHBOARD' | translate}}
          </a>
        </li>
        <li>
          <a routerLink={{routerLink.categoryGroup.listing}}>
            <i class="fas fa-chart-bar"></i>{{'SKILL_CATEGORY' | translate}}
          </a>
        </li>
        <li>
          <a>
            <i class="fas fa-table"></i>{{'SKILL' | translate}}</a>
        </li>

        <!--PAGES-->
        <li class="has-sub">
          <a class="js-arrow" (click)="toggleSidebar()">
            <i class="fas fa-copy"></i>Pages
          </a>
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a>Login</a>
            </li>
            <li>
              <a>Register</a>
            </li>
            <li>
              <a>{{'LOGOUT' | translate}}</a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>
</aside>
