<div class="">
  <div class="container">
    <div class="login-content">
      <div class="login-form">
        <form name="form"
              (ngSubmit)="basicLogin($event)"
              #basicLoginForm="ngForm"
              novalidate>

          <!--Email address-->
          <div class="form-group">
            <label for="inputEmail">Email Address</label>
            <input id="inputEmail" type="text" class="form-control" name="email" #email="ngModel" 
            [(ngModel)]="loginModel.email" 
            [ngClass]="{ 'is-invalid': basicLoginForm.submitted && email.invalid }" required email />

            <!-- Email validation messages -->
            <div *ngIf="basicLoginForm.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
          </div>

          <!--Password-->
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input id="inputPassword" type="password" class="form-control" name="password" #password="ngModel" 
            [(ngModel)]="loginModel.password"  
            [ngClass]="{ 'is-invalid': basicLoginForm.submitted && password.invalid }" required minlength="4" />

            <!-- Password validation messages -->
            <div *ngIf="basicLoginForm.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password must be at least 4 characters</div>
            </div>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember Me
            </label>
            <label class="pull-right">
              <a href="#">Forgotten Password?</a>
            </label>
          </div>

            <ngx-invisible-recaptcha #invisibleCaptcha
              name="captchaCode"
              [siteKey]="'6LegQIgUAAAAAPv8coJK5mJAuxgI-TbOjtIRgmX2'"
              [useGlobalDomain]="false"
              (success)="handleSuccess($event)"
              [ngModel]="loginModel.captchaCode">
            </ngx-invisible-recaptcha>

          <input type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" value="SIGN IN">
          <div class="social-login-content">
            <div class="social-button">
              <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i class="fa-facebook"></i>Sign in with facebook</button>
              <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i class="fa-twitter"></i>Sign in with twitter</button>
            </div>
          </div>
          <div class="register-link m-t-15 text-center">
            <p>Don't have account ? <a href="#"> Sign Up Here</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
